<div style="display: flex; justify-content: center;">
    <div style="background-color: white; box-shadow: 2px 2px 6px #c3c3c3; width: 675px; margin: 20px;">
        <img [src]="blogDetail?.blog?.imgUrl" alt="" style="object-fit: cover; width: inherit;">
        <div style="padding: 10px 20px;">
            <div style="display: flex; align-items: center; justify-content: space-between;">
                <p style="font-size: 20px; font-weight: bold;">{{blogDetail?.blog?.title}}</p>
                <div>
                    <a style="padding-left: 10px;" href="https://www.facebook.com/">
                        <img src="./assets/facebook.png" alt="" height="20" width="20">
                    </a>
                    <a style="padding-left: 10px;" href="https://twitter.com/?lang=en">
                        <img src="./assets/twitter.png" alt="" height="20" width="20">
                    </a>
                    <a style="padding-left: 10px;" href="https://www.instagram.com/">
                        <img src="./assets/instagram.png" alt="" height="20" width="20">
                    </a>
                </div>
            </div>
            <p style="font-size: 16px; color: #3c3c3c; padding-top: 10px;" [innerHTML]="blogDetail?.blog?.content">
            </p>
            <p style="padding-top: 10px;"><span style="color: gray;">Author: </span>{{blogDetail?.blog?.author | titlecase}}
            </p>
            <p style="padding-top: 10px;"><span style="color: gray;">Created at: </span>{{blogDetail?.blog?.created_at | date: 'longDate'}}</p>
            <p style="padding-top: 10px;"><span style="color: gray;">Time to read:
                </span>{{blogDetail?.blog?.time_toread}} hrs
            </p>
        </div>
    </div>

    <div style="margin: 20px">
        <p style="font-size: 30px; margin-bottom: 20px;">Advertisement</p>
        <div style="background-color: white; box-shadow: 2px 2px 6px #c3c3c3;">
            <img [src]="blogDetail?.blog?.adv_image" alt="" height="200">
            <div style="padding: 10px">
                <p style="font-size: 20px; font-weight: bold;">{{blogDetail?.blog?.adv_title}}</p>
                <p style="font-size: 16px; color: #3c3c3c; padding-top: 5px;">{{blogDetail?.blog?.adv_description}}</p>
                <div style="padding-top: 10px; display: flex; justify-content: flex-end;">
                    <button style="font-size: 20px; color: white; background-color: red; padding: 5px 10px; border: 0px; border-radius: 4px;">{{blogDetail?.blog?.adv_butttonname}}</button>
                </div>
            </div>
        </div>
    </div>
</div>