<div style="display: flex; align-items: center; justify-content: center; flex-direction: column;">
    <div (click)="router.navigate(['detail'])" style="background-color: white; box-shadow: 2px 2px 6px #c3c3c3; width: 675px; margin-top: 20px;" *ngFor="let item of blogList?.blogs">
        <img [src]="item?.imgUrl" alt="" style="object-fit: cover; width: inherit;">
        <div style="padding: 10px 20px">
            <p style="font-size: 20px; font-weight: bold;">{{item?.title}}</p>
            <p style="font-size: 16px; color: #3c3c3c; padding-top: 10px;">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            </p>
            <p style="padding-top: 10px;"><span style="color: gray;">Author: </span>{{item?.author | titlecase}}</p>
            <p style="padding-top: 10px;"><span style="color: gray;">Created at: </span>{{item?.created_at | date: 'longDate'}}</p>
            <p style="padding-top: 10px;"><span style="color: gray;">Time to read: </span>{{item?.time_toread}} hrs</p>
        </div>
    </div>
</div>